@import url('https://fonts.googleapis.com/css?family=Roboto');
$arrow-width: 15px;
$padding-width: 1.2rem;
$background-color: #fff;
$master-color:rgb(88, 87, 87);
$border-color: #ccc;
$top-size: -5px;
$point-size: 45px;
$point-height-size: $point-size;
$point-width-size: $point-size;

.timeline {    
    position: relative;
    &::before {
        position: absolute;
        width: 3px;
        height: 100%;
        top: 0;
        left: 50%;
        margin-left: -1px;
        background-color: $border-color;
        content: " ";
    }
    .timeline-item {
        position: relative;
        margin: 1rem 0;
        font-family: 'Roboto';

        .timeline-date {
            box-sizing: border-box;
            position: absolute;
            top: $top-size;
            left: 53%;
            line-height: $point-height-size;
            width: 47%;
            color: #666;
        }

        .timeline-point {
            box-sizing: border-box;
            position: absolute;
            left: 49.5%;
            top: $top-size;
            margin-left: -15px;
            border: 4px solid $master-color;
            border-radius: 100%;
            text-align: center;
            background-color: $background-color;
            z-index: 99;
            font-size: 25px;
            height: $point-height-size;
            line-height: 37px;
            width: $point-width-size;  
            i{
                color: $master-color;
            }         
        }

        .timeline-event {
            box-sizing: border-box;
            position: relative;
            left: 0;
            width: 45%;
            padding: $padding-width;
            border: 1px solid $border-color;
            background-color: rgba($background-color, 0.1);
            border-radius: 3px;
            box-shadow: 0.1px 11.1px 40px -16px;

            &::before, &::after {
                position: absolute;
                left: 100%;
                top: $top-size;
                height: 0;
                width: 0;
                border: 15px solid transparent;

                border-left-color: $background-color;
            }
            &::before {
                border-left-color: $master-color;
                margin-left: 1px;               
            }
            
            .timeline-header {
                box-sizing: border-box;
                font-size: 1.5rem;
                font-weight: 500;
                display: flex;
                position: absolute;
                background-color: $master-color;
                width: calc(100% + 10%);
                height: 1.6em;                
                top: -0.1em;
                left: -0.05em;
                color: white;
                padding: 0.2em 0.5em;                
            }
           
            .timeline-body {
                margin-top: 2rem;
                margin-bottom: 0.5rem;
                color: #666;                               
            }
            .timeline-footer {
                margin-top: 1rem;
                color: #666;
            }
        }

        &:nth-child(even) {
            .timeline-date {                
                left: 0%;
                text-align: right;
            }

            .timeline-event {
                left: 55%;

                &::before, &::after {
                    left: 0;
                    border-left-color: transparent !important;

                    border-right-color: $background-color;

                    margin-left: -30px;
                }
                &::before {
                    border-right-color: $border-color;
                    margin-left: -31px;
                }
                .timeline-header{
                    left: -2.4em;
                    width: calc(100% + 59px);
                    div{
                        padding-left: 1em;
                    }  
                }
            }
            
        }
    }
}
@media (max-width: 700px) {
    .timeline {
        &::before {
            left: 4% !important;
        }

        .timeline-item {
            .timeline-date {
                left: 55%;
                width: 46%;
            }
            
            .timeline-point {
                left: 2.5% !important;
            }

            .timeline-event {

                .timeline-header {
                    width: calc(100% + 20px) !important;
                    left: -.02em !important;  
                }
            }

            &:nth-child(even) {
 
                .timeline-event {

                    .timeline-header{
                        width: calc(100% + 35px) !important;
                        left: -1.4em !important; 
                    }
                }
            }
        }
    }
}
@media (max-width: 800px) {
    .timeline {
        &::before {
            left: 4% !important;
        }

        .timeline-item {
            
            .timeline-point {
                left: 2.5% !important;
            }

            .timeline-event {

                .timeline-header {
                    width: calc(100% + 20px) !important;
                    left: -0.8em !important;  
                }
            }

            &:nth-child(even) {
 
                .timeline-event {

                    .timeline-header{
                        width: calc(100% + 20px) !important;
                        left: -0.8em !important; 
                    }
                }
            }
        }
    }
}
@media (max-width: 985px) {
    .timeline {
        &::before {
            left: 2%;
        }

        .timeline-item {
            padding-top: 30px;
            .timeline-date {
                top: -5px;
                left: 7%;
                width: 100%;
            }
            .timeline-point {
                left: 1.2%;
                top: 23px;
            }

            .timeline-event {
                left: 7%;
                width: 93%;

                &::before, &::after {
                    left: 0;
                    border-left-color: transparent !important;

                    border-right-color: $background-color;

                    margin-left: -30px;
                }
                &::before {
                    border-right-color: $border-color;
                    margin-left: -31px;
                }

                .timeline-header {
                    width: calc(100% + 49px);
                    left: -2em;
                    div{
                        padding-left: 1em;
                    }       
                }
            }

            &:nth-child(even) {
                .timeline-date {
                    text-align: left;
                    left: 7%;
                }
                .timeline-event {
                    left: 7%;

                    &::before, &::after {
                        left: 0;
                        border-left-color: transparent !important;
                        border-right-color: $background-color;
                        margin-left: -30px;
                    }
                    &::before {
                        border-right-color: $border-color;
                        margin-left: -31px;
                    }
                    .timeline-header{
                        width: calc(100% + 49px);
                        left: -2em;
                         
                    }
                }
            }
        }
    }
}

@media (min-width: 1600px) {
    .timeline {
        
        .timeline-item {
            

            .timeline-event {
                

                .timeline-header {
                    width: calc(100% + 60px);    
                }
            }

            &:nth-child(even) {
             
                .timeline-event {
                    
                    .timeline-header{
                        width: calc(100% + 63px);
                        left: -2.60em;   
                    }
                }
            }
        }
    }
}