<div class="timeline" [ngClass]="timelineClass" [ngStyle]="timelineStyle">
  <div class="timeline-item" *ngFor="let event of events; index as i">
    <div class="timeline-date">
      <div *ngIf="!dateTemplate">{{event.date | date: dateFormat}}</div>
      <ng-template *ngIf="dateTemplate" [ngTemplateOutlet]="dateTemplate.templateRef" [ngTemplateOutletContext]="{ $implicit: event, rowIndex: i }"></ng-template>
    </div>
    <div class="timeline-point" [ngStyle]="{'border':'4px solid '+event.iconheadercolor}">
      <i class="fa" [ngClass]="'fa-'+event.icon" [ngStyle]="{'color':event.iconheadercolor}"></i>
    </div>
    <div class="timeline-event" [ngStyle]="{'border':'1px solid '+event.iconheadercolor}">
      <div class="timeline-header" [ngStyle]="{'background-color':event.iconheadercolor}">
        <div *ngIf="!headerTemplate">{{event.header}}</div>
        <ng-template *ngIf="headerTemplate" [ngTemplateOutlet]="headerTemplate.templateRef" [ngTemplateOutletContext]="{ $implicit: event, rowIndex: i }"></ng-template>
      </div>
      <div class="timeline-body">
        <div *ngIf="!bodyTemplate">       
          <p>{{event.body}}</p>
        </div>
        <ng-template *ngIf="bodyTemplate" [ngTemplateOutlet]="bodyTemplate.templateRef" [ngTemplateOutletContext]="{ $implicit: event, rowIndex: i }"></ng-template>
      </div>
      <div class="timeline-footer">
        <div *ngIf="!footerTemplate">{{event.footer}}</div>
        <ng-template *ngIf="footerTemplate" [ngTemplateOutlet]="footerTemplate.templateRef" [ngTemplateOutletContext]="{ $implicit: event, rowIndex: i }"></ng-template>
      </div>
    </div>
  </div>
</div>
